.card {
  border: 1px solid blue;
  margin-top: 2rem;
}

.In {
  animation: In 10s forwards;
  animation-delay: 0.5s;
}
.Out {
  animation: Out 10s forwards;
  animation-delay: 0.5s;
}
@keyframes In {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes Out {
  100% {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
